/* Header styles */
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-details h3 {
    margin: 0;
    font-size: 20px;
}

.status {
    margin: 0;
font-size: 16px;
color: #666;
}

/* Messages styles */
.messages {
display: flex;
flex-direction: column;
margin-bottom: 20px;
}

.message {
padding: 10px;
border-radius: 20px;
margin-bottom: 10px;
max-width: 70%;
word-wrap: break-word;
      margin-left: 10%;
    margin-right: 10%;
}

.sent {
align-self: flex-end;
background-color: #007bff;
color: white;
}

.received {
align-self: flex-start;
background-color: #f2f2f2;
color: black;
}

.time {
font-size: 12px;
margin-left: 10px;
}

/* Input section styles */
.input-section {
display: flex;
align-items: center;
    position: fixed;
            bottom: 85px;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 10px;
  margin-right: 15%;
    margin-left: 15%;
}
.buttonsd {
      position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            padding: 10px;
  margin-right: 15%;
    margin-left: 15%;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.buttonsd button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.input-section input[type="text"] {
flex: 1;
padding: 10px;
border-radius: 30px;
border: none;
background-color: #f2f2f2;
margin-right: 10px;
}

.input-section button {
background-color: #007bff;
color: white;
border: none;
padding: 10px 20px;
border-radius: 20px;
cursor: pointer;
}

.message.time-separator {
    text-align: center;
    margin: 10px 0;
    margin-left: 15%;
}

.message.time-separator .time {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.message p {
    margin-top: 0;
    margin-bottom: 0px;
}

/* Media query for phone size */
@media (max-width: 768px) {
.container {
max-width: 400px;
}